.fetLisCont {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.list-item {
    width: 180px;
}

.list-item img{
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .list-item h2{
    color: #444;
  }
  .list-item h2{}